h1 {
	color: #F15;
}

.columna {
	background-color: #fc0;
	border: 1px solid #333;
}

.container {
	/*background-color: #aaa;*/
}

.full-width {
	width: 100%;
	color: #fff;
	background-color: #400080;
	padding: 20px;
}

.full-width-extra{
	color: #000;
	background-color: #fc0;
}
